<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoztHV-fO3p_37znhdstZWfTVXSYJRqBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>111883420642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitLife</string>
	<key>PROJECT_ID</key>
	<string>fitlife-4a351</string>
	<key>STORAGE_BUCKET</key>
	<string>fitlife-4a351.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111883420642:ios:8ad8359e7be09f4638afbb</string>
</dict>
</plist>